main        
    margin-bottom: 50px    
    min-height: 350px // para delimitar o footer
    
    .container        
        .row            
            #contprincipal
                +flexbox
                +justify-content(space-around)
                height: 350px
                
                .bannerEsquerda
                    width: 45%
                    +flexbox
                    +justify-content(center)
                    height: 100%
                    z-index: 0                    
                    
                    .lSSlideOuter
                        width: 100%;
                        height: 100%;

                        .lSSlideWrapper
                            height: 100%
                        
                            #light-slider-esquerda
                                width: 100%;
                                height: 100%!important;
                                
                                li
                                    width: 100%;
                                    height: 100%;
                                    background-size: contain
                                    background-repeat: no-repeat
                                    background-position: center center
                                
                                .b1
                                    background-image: url(../images/Home/01.jpg)
                                .b2
                                    background-image: url(../images/Home/02.jpg)
                                .b3
                                    background-image: url(../images/Home/03.jpg)    
                                .b4    
                                    background-image: url(../images/Home/04.jpg)
                                
                    .lSAction
                        display: none!important 
                        
                .bannerDireita    
                    width: 45%
                    +flexbox
                    +justify-content(center)
                    z-index: 0   
                    
                    .lSSlideOuter
                        width: 100%;
                        height: 100%;

                        .lSSlideWrapper
                            height: 100%
                        
                            #light-slider-direita
                                width: 100%;
                                height: 100%!important;
                                
                                li
                                    width: 100%;
                                    height: 100%;
                                    background-size: contain
                                    background-repeat: no-repeat
                                    background-position: center center
                                
                                .b1
                                    background-image: url(../images/Home/06.jpg)
                                .b2
                                    background-image: url(../images/Home/05.jpg)
                                .b3
                                    background-image: url(../images/Home/07.jpg)    
                                .b4    
                                    background-image: url(../images/Home/02.jpg)
                                
                    .lSAction
                        display: none!important            