main        
    margin-bottom: 50px
    min-height: 350px // para delimitar o footer
    .container
        .row
            #contprincipal
                .slider
                    z-index: 1;
                
                    .slides                      
                        li
                            img
                    .indicators
                        .indicator-item 
                    .active
                        background-color: #000;  