main        
    margin-bottom: 50px
    min-height: 350px // para delimitar o footer
    .container
        .row
            #contprincipal
                // ao invés de usar as classes do materialize preferi nas imagens preferei fazer na mão usando o flexbox
                +flexbox
                +flex-direction(row)
                +flex-wrap(wrap)
                +justify-content(space-between)    
                .imagem1
                    width: 49.5%
                    img
                        width: 100%
                .imagem2
                    width: 49.5%
                    img
                        width: 100%
                +breakpoint($celular)
                    .imagem1
                        width: 100%
                    .imagem2
                        width: 100%
   