main
    .container
        #modelo3           
            #lightgallery-modelo3 
                +flexbox
                +flex-direction(row)
                +flex-wrap(wrap)
                +justify-content(space-between)
                    
                a
                    width: 49.7%
                    margin: 0 0
                    img
                        width: 100%   
        +breakpoint($celular)                
            #modelo3           
                #lightgallery-modelo3
                    a
                        width: 100%
                        img                         
                        