main
    margin-bottom: 50px
    min-height: 350px // para delimitar o footer   
    
    .container        
        .row
            #portfolio
                .aba
                    
                    ul
                        +flexbox
                        +justify-content(center)
                        margin-bottom: 10px
                        
                        li                          
                            
                            a
                                @extend .black-text
                                +font-size(15px)  
                                text-transform: capitalize
                                
                        .indicator
                            background-color: #000
                            
                #retratos
                    #lightgallery-retratos
                        +flexbox
                        +flex-direction(row)
                        +flex-wrap(wrap) 
                        +justify-content(space-between)  
                        a
                            width: 49.7%
                            margin: 0 0
                            img
                                width: 100%
                +breakpoint($celular)
                    #retratos
                        #lightgallery-retratos
                            a
                                width: 100%
                                img
                                
                #ensaios
                    #lightgallery-ensaios
                        +flexbox
                        +flex-direction(row)
                        +flex-wrap(wrap) 
                        +justify-content(space-between)  
                        a
                            width: 49.7%
                            margin: 0
                            img
                                width: 100%
                +breakpoint($celular)
                    #ensaios
                        #lightgallery-ensaios
                            a
                                width: 100%
                                img                
                                
                #graphics
                    #lightgallery-graphics
                        +flexbox
                        +flex-direction(row)
                        +flex-wrap(wrap) 
                        +justify-content(space-between)  
                        a
                            width: 49.7%
                            margin: 0
                            img
                                width: 100%  
                +breakpoint($celular)
                    #graphics
                        #lightgallery-graphics
                            a
                                width: 100%
                                img                
                                
                #autoral
                    #lightgallery-autoral
                        +flexbox
                        +flex-direction(row)
                        +flex-wrap(wrap) 
                        +justify-content(space-between)  
                        a
                            width: 49.7%
                            margin: 0
                            img
                                width: 100%      
                +breakpoint($celular)
                    #autoral
                        #lightgallery-autoral
                            a
                                width: 100%
                                img                
                                