footer
    // usando o position relative para descer o conteudo devido ao position do main.
    position: relative
    top: 280px
    padding: 15px 0 
    
    .container
        //usando o flexbox para posicionar os elementos dentro da div
        +flexbox
        +justify-content(space-between)
        
        .contato
            width: 50%
            
            h3
                +font-size(28px)
        .redes-sociais
            +flexbox
            +justify-content(flex-end)
            width: 50%
            a
                @extend .black-text
                +font-size(30px)
                +align-self(flex-end)
                margin: 0 5px    
                