footer  
    height: 150px
    border-top: 1px solid $branco3
    //padding: 20px    
    //@extend .red
    
    .container
        //usando o flexbox para posicionar os elementos dentro da div
        +flexbox
        +justify-content(space-between)
        +flex-wrap(wrap)
        
        .contato
            width: 50%
            
            h3
                +font-size(28px)
        .redes-sociais
            +flexbox
            +justify-content(flex-end)
            width: 50%
            a
                @extend .black-text
                +font-size(30px)
                +align-self(flex-end)
                margin: 0 5px   
            
            .fa-facebook-square
                +transition(0.1s)
                &:hover
                    color: $facebook;
            
            .fa-instagram
                +transition(0.1s)
                &:hover
                    color: $instagram;
                
                
+breakpoint($celular)
    footer
        .container
            +justify-content(center)
            .contato 
                width: 100%
                +flexbox
                +flex-wrap(wrap)
                    
            h3
                width: 100%
                text-align: center
            .cont
                display: none
            span
                width: 100%
                text-align: center
                padding: 5px
                
            .redes-sociais
                width: 50%
                +justify-content(center)
                    
                a             