header         
    height: 150px
    margin-bottom: 50px
    .menu-fixo
        // deixando o menu fixo com o position fixed e usando o z-index para nada sobrepro ele e sobre escrevendo algumas configurações do materialize por padrão.
        @extend .white
        height: 150px
        position: fixed
        box-shadow: none
        border-bottom: 1px solid $branco3
        z-index: 2
        
        .container
            //flexbox para ordernar e posicionar os elementos
            height: 100%
            +flexbox
            +justify-content(space-between)
            +align-items(center)    
            ul
                +order(2)
                +align-self(flex-end)
                    
                
                
                li
                        
                    
                    a
                        @extend .black-text
                        +font-size(15px)  
                        text-transform: uppercase
                        
                        &:hover
                            background-color: transparent;
                            font-weight: bolder
                        
                        
                        
            .logotipo 
                +order(1)                
                height: 100%
                a
                    img
                        
+breakpoint($tablet)
    header
        margin-bottom: -50px
        .menu-fixo
            display: none